.sectionOut {
    width: 100vw;
    background-color: #1a1b1b;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
    padding-top: 7rem;
   
}
.sectionIn {
    width: 100vw;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
    padding-top: 7rem;
}

.container {
    width: calc(100vw - 10rem);
}

.headingContainer {
    padding-top: 5rem;
    padding-bottom: 8rem;
}

.title {
    font-size: 4rem;
    font-size: clamp(4rem, 0.5116279069767442rem + 11.162790697674419vw, 10rem);
    font-family: sans-serif;
    font-weight: 400;
    padding-bottom: 1rem;
}

.subheading {
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 0.627906976744186rem + 2.7906976744186047vw, 3rem);
    font-family: sans-serif;
}
.skewText {
    font-family: serif;
    font-style: italic;
}

.rowContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.itemContainer {
    width: 65vw;
    padding: 1.3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}

.item {
    font-size: 1.3rem;
    font-size: clamp(1.3rem, 0.7767441860465116rem + 1.6744186046511629vw, 2.2rem);
    font-family: sans-serif;
}

.number {
    font-size: 1.3rem;
    font-size: clamp(1.3rem, 0.7767441860465116rem + 1.6744186046511629vw, 2.2rem);
    font-family: sans-serif;
}

.bigTextContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.bigText {
    font-size: 3rem;
    font-size: clamp(3rem, 1.3139534883720927rem + 5.395348837209303vw, 5.9rem);
    font-family: sans-serif;
    font-weight: 300;
    text-align: center;
}
.underline {
    text-decoration: underline;
}

@media (max-width: 900px) {
    .container {
        width: calc(100vw - 4rem);
    }
}

@media (max-width: 500px) {

    .container {
        width: calc(100vw - 2.4rem);
    }
    .title {
        font-size: 2.5rem;
        font-size: clamp(2.5rem, 0.25rem + 12vw, 4rem);
    }
    .subheading {
        font-size: 1.2rem;
        font-size: clamp(1.2rem, 0.7499999999999999rem + 2.4000000000000004vw, 1.5rem);
    }
    .itemContainer {
        width: 100%;
    }
    .bigText {
        font-size: 1.5rem;
        font-size: clamp(1.5rem, 0.6176470588235294rem + 4.705882352941177vw, 2.5rem);
    }
}